# Copyright © 2018 Richard Huang <rickypc@users.noreply.github.com>
# Description: Shared editor settings for consistent project formatting.
# File: .editorconfig
# License: AGPL-3.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
