# Copyright (c) 2018-2025 Richard Huang <rickypc@users.noreply.github.com>
# Description: Git ignore settings.
# File: .gitignore
# License: AGPL-3.0-or-later

*coverage
*.lock
*.log
node_modules
package-lock.json
supports
