# Copyright (c) 2018-2025 Richard Huang <rickypc@users.noreply.github.com>
# Description: NPM ignore settings.
# File: .npmignore
# License: AGPL-3.0-or-later

.editorconfig
CHANGELOG.md
CONTRIBUTING.md
*.config.*s
*coverage
.git*
Makefile
.searchignore
src
supports
tests
*.tgz
tsconfig.json
