# Copyright (c) 2018-2025 Richard Huang <rickypc@users.noreply.github.com>
# Description: Validations GHA.
# File: validations.yml
# License: AGPL-3.0-or-later

name: Validations
on:
  pull_request:
    types: [ edited, opened, reopened, synchronize ]
  push:
    branches:
      - main
jobs:
  deps:
    name: Deps
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn outdated
  leak:
    name: Leak
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn test:leak
  lint:
    name: Lint
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn test:lint
  perf:
    name: Perf
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn test:perf
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: package.json
          node-version: 24
      - name: Install
        run: yarn
  types:
    name: Types
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn test:type
  unit:
    name: Unit
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: yarn test:unit
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          flags: unittests
