# Copyright (c) 2018-2025 Richard Huang <rickypc@users.noreply.github.com>
# Description: Validations GHA.
# File: validations.yml
# License: AGPL-3.0-or-later

env:
  NODE_LTS: 24
name: Validations
on:
  pull_request:
    types: [ edited, opened, reopened, synchronize ]
  push:
    branches:
      - main
jobs:
  deps:
    name: Deps
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn outdated
  leak:
    name: Leak
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn test:leak
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn test:lint
  perf:
    name: Perf
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn test:perf
  types:
    name: Types
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn test:type
  unit:
    name: Unit
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version:${{env.NODE_LTS}}
      - run: yarn test:unit
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          flags: unittests
